<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>phpbbextract</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>extractPageServlet</display-name>
    <servlet-name>extractPageServlet</servlet-name>
    <servlet-class>extractPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>extractPageServlet</servlet-name>
    <url-pattern>/extractPageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>extractDiscussion</display-name>
    <servlet-name>extractDiscussion</servlet-name>
    <servlet-class>extractDiscussion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>extractDiscussion</servlet-name>
    <url-pattern>/extractDiscussion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>extractPostServlet</display-name>
    <servlet-name>extractPostServlet</servlet-name>
    <servlet-class>extractPostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>extractPostServlet</servlet-name>
    <url-pattern>/extractPostServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>extractResponsesServlet</display-name>
    <servlet-name>extractResponsesServlet</servlet-name>
    <servlet-class>extractResponsesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>extractResponsesServlet</servlet-name>
    <url-pattern>/extractResponsesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sendMailServlet</display-name>
    <servlet-name>sendMailServlet</servlet-name>
    <servlet-class>sendMailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sendMailServlet</servlet-name>
    <url-pattern>/sendMailServlet</url-pattern>
  </servlet-mapping>
</web-app>